@model IEnumerable<Web_Kladilnica.Models.Game>

@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

<div id="divGames">

</div>

@Html.Action("GamesPartial","Home")

@section scripts{
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
}